.root{
	display: flex;
}
.card{
	display: inline-block;
}
form.card{
	width: 300px;
	margin: 10px 0;
	padding: 20px;
	box-shadow: 0 3px 5px #8F8F8F;
}
.productos{
	display: flex;
	justify-content: space-around;
}
.productos > div.card{
	margin: 10px;
	max-width: 300px;
}